* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #ffe6ec;
}

.wrapper {
    height: 200px;
    width: 300px;
    background-color: #c9379d;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    cursor: pointer; 
}
.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

.lid.one {
    border-top: 100px solid #f090b8;
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: 0.75s;
}

.lid.two {
    border-top: 100px solid #f090b8;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}

.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #f0c4dc;
    border-bottom: 100px solid #f0c4ea;
    border-left: 150px solid #f2a4e5;
    z-index: 3;
}

.letter {
    position: absolute;
    top: 0;
    width: 80%;
    height: 120%;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden; 
}

.letter p {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: #3B4049;
}


.wrapper.open .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper.open .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.wrapper.open .letter {
    transform: translateY(-140px);
    transition-delay: 0.5s;
    opacity: 1;
    visibility: visible;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    display: none; 
}
.btn {
    padding: 10px 15px;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #ff7695;
}


.wrapper.open ~ .buttons {
    display: flex;
}

@keyframes floatHearts {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-200px) scale(1.5);
        opacity: 0;
    }
}

.heart {
    position: absolute;
    color: red;
    font-size: 20px;
    animation: floatHearts 2s ease-out forwards;
}